#hearder_wrapper{
	height: 30px;
	background: #e3e4e5;
}
.header{
	height: 30px;
	background: #e3e4e5;
}
.content{
	width: 1188px;
	margin: 0 auto;
}
.header_left{
	float: left;
	margin-left: 208px;
	line-height: 30px;
	width: 52px;
	height: 30px;
}
.header_left i{
	margin-right: 6px;
	vertical-align: middle;
	display: inline-block;
	width: 11px;
	height: 14px;
	background: url(../images/tb.jpg) no-repeat;
}
.header_right{
	float: right;
	height: 30px;
	line-height: 30px;
}
.header_right .head{
	height: 30px;
	line-height: 30px;
	display: inline-block;
}
.header_right .head li{
	float: left;
}
.header_right .head li a{
	color: #999999;
	font-size: 12px;
	padding: 0 12px;
}
.header_right .head li:nth-child(1) a:nth-child(1){
	color: #f40;
}
.header_right .head li a:hover{
	color: #f40;
}
#footer_wrapper{
	height:554px;
	background: #f0f3ef;
}
.footer{
	height:554px;
	background: #f0f3ef;
}
