#search_wrapper{
	height: 93px;
	background:#f0f3ef;
}
.search{
	height: 93px;
	background:#f0f3ef;
}
.content{
	width: 1188px;
	margin: 0 auto;
}
.search_left{
	float: left;
	margin-left: 320px;
	width: 554px;
}
.search_left .search_input{
	padding-top: 20px;
	box-sizing: border-box;
}
.search_left .search_input .txt{
	width: 500px;
	height: 36px;
	background: #fff;
	border: none;
	float: left;
	padding-left: 4px;
	box-sizing: border-box;
}
.search_left .search_input .sub{
	width: 54px;
	height: 36px;
	border: none;
	float: right;
	background: #f10215;
}
.search_left .search_input form{
	position: relative;
}
.search_left .search_input form .datalist{
	position: absolute;
	left: 0;
	top: 37px;
	z-index: 2;
	width: 500px;
	background: #fff;
}
.search_left .search_input form .datalist li{
	height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	line-height: 30px;
}
.search_left .search_input form .datalist li:hover{
	background: #ccc;
}
.search_left .search_input form .canmare{
	display: block;
	width:19px;
	height:16px;
    background: url(../images/xiangji.png) no-repeat;
    background-position: 0 0;
	position: absolute;
	top: 10px;
	right:75px
}
.search_left .search_input form .canmare:hover{
	background-position: -30px 0;
}
.search_left .search_nav{
	padding-top: 10px;
	width: 554px;
	height: 30px;
	box-sizing: border-box;
}
.search_left .search_nav a{
	font-size: 12px;
	color: #999999;
	margin-right: 10px;
}
.search_left .search_nav a:first-child{
	margin-right: 20px;
	color: #f40;
}
.search_left .search_nav a:hover{
	color: #f40;
}
.search_right{
	float: right;
}
.search_right .buyBox{
	display: inline-block;
	width: 188px;
	height: 34px;
	background: #fff;
	float: left;
	margin-right: 30px;
	margin-top: 25px;
	text-align: center;
	line-height: 34px;
}
.search_right .buyBox a{
	font-size: 12px;
	color: #f40;
}
.search_right .buyBox .shopCar{
	display: inline-block;
	width: 23px;
	height: 20px;
	background: url(../images/tool.png) no-repeat;
	vertical-align: middle;
	margin-right: 8px;
}
.search_right .buyBox .count{
	margin-left: 3px;
	font-size: 14px;
	color: #f40;
}
.search_right .erweima{
	border: 1px solid #cfcfcf;
	box-sizing: border-box;
	float: right;
	display: inline-block;
	width: 70px;
	height: 70px;
	padding: 4px;
}
.search_right .erweima .tbm{
	width: 60px;
	height: 60px;
	display: block;
	background: url(../images/sma.png) no-repeat;
}
#nav_wrapper{
	height:43px;
	background: #f0f3ef;
}
.navs{
	height:43px;
	background: #f0f3ef;
	position: relative;
}
.navs_left{
	float: left;
	margin-left: 225px;
	height: 43px;
	line-height: 43px;
}
.navs_left a{
	font-size: 12px;
	color: #333333;
	margin: 0 11px;
}
.navs_left a:hover{
	color: #f40;
}
.navs_right{
	width: 189px;
	height:36px;
	float: right;
}
.navs_right .piao{
	display: block;
	width: 189px;
	height: 36px;
	background: url(../images/piao.jpg) no-repeat;
}
.navs .logo a{
	display: block;
	width: 190px;
	height: 170px;
	background: url(../images/header.png) no-repeat;
	position: absolute;
	top: -127px;
	left: 0;
	text-indent: -9999px;
}
#main_wrapper{
	height: 510px;
	background: #f0f3ef;
}
.main{
	height: 510px;
	background: #f0f3ef;
	overflow: hidden;
}
.main_left{
	margin-top: 2px;
	width: 190px;
	height: 478px;
	background: #fff;
	float: left;
}
.main_left .left_nav{
	height: 100%;
}
.main_left .left_nav li:nth-child(1){
	padding-top: 10px;
}
.main_left .left_nav li{
    padding: 5px 0 5px 20px;
}
.main_left .left_nav li:hover{
    background: #ccc;
}
.main_left .left_nav li a{
	color: #626262;
}
.main_left .left_nav li a:hover{
	color: #f40;
}
.main_banner{
	margin: 10px 0 0 8px;
	width: 590px;
	height: 470px;
	float: left;
	background: #00008B;
	position: relative;
}
.main_banner .banner_img{
	height:470px;
}
.main_banner .banner_img li{
	position: absolute;
	left: 0;
	top: 0;
}
.main_banner .banner_sort{
	position: absolute;
	left: 50px;
	bottom: 20px;
}
.main_banner .banner_sort li{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
	text-align: center;
	line-height: 14px;
}
.backColor{
	background: #fff;
	color: #000;
}
.current{
	background: #000;
	color: #fff;
}
._left{
	display: block;
	width: 20px;
	height: 40px;
	background: #000;
	opacity: 0.4;
	position: absolute;
	left: 20px;
	top: 200px;
}
._right{
	display: block;
	width: 20px;
	height: 40px;
	background: #000;
	opacity: 0.4;
	position: absolute;
	right: 20px;
	top: 200px;
}
.main_pic{
	width: 190px;
	float: left;
}
.main_pic a{
	display: block;
	width: 190px;
	height: 150px;
	margin: 10px;
}
.main_pic a:hover{
	opacity: 0.5;
}
.main_pic a:nth-child(1){
	background: url(../images/pic1.jpg) no-repeat;
}
.main_pic a:nth-child(2){
	background: url(../images/pic2.jpg) no-repeat;
}
.main_pic a:nth-child(3){
	background: url(../images/pic3.jpg) no-repeat;
}
.main_right{
	margin-top: 10px;
	width: 188px;
	height: 470px;
	float: right;
	background: #fff;
}
