.header_left .stb{
	width: 16px;
	height: 14px;
	display: inline-block;
	background: url(../images/gou_03.jpg) no-repeat;
	vertical-align: middle;
}
.header_left{
	margin-left: 0px;
	width: 131px;
}
.header_left a{
	margin-right: 16px;
	font-size:12px;
	color: #999999;
}
#logo_wrapper{
	height: 114px;
	background: #fff;
}
.logo{
	padding-top: 25px;
	box-sizing: border-box;
	height: 114px;
	background: #fff;
}
.logo_left{
	float: left;
	width: 250px;
}
.logo_left .sLo{
	float: left;
	margin-right: 17px;
	display: inline-block;
	height: 60px;
	width: 170px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	
}
.logo_left .sCar{
	float: right;
	display: inline-block;
	margin-top: 22px;
	font-size: 20px;
	color: #333333;
	font-weight: bold;
}
.logo_right{
	float: right;
	margin-top: 10px;
}
.logo_right .txt{
	padding-left: 8px;
	box-sizing: border-box;
	float: left;
	height: 26px;
	width: 272px;
	border: 1px solid #f40;
}
.logo_right .sub{
	float: right;
	width: 54px;
	height: 26px;
	border: none;
	background: #f40;
}
#shopList_wrpper{
	background: #fff;
}
.shopList{
	background: #fff;
}
.shopList .lis{
	margin-left: 92px;
	
}
.shopList .heji{
	height: 30px;
	float: right;
	margin-bottom: 100px;
	line-height: 30px;
}
.shopList .heji span{
	font-size: 16px;
	color: #f40;
	display: inline-block;
}
.shopList .heji button{
	display: inline-block;
	margin-left: 20px;
}
.shopList .lis li{
	height: 150px;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #eeeeee;
}
.shopList .contentsAll{
	padding-top: 20px;
	box-sizing: border-box;
	height: 120px;
}
.shopList .inp{
	float: left;
}
.shopList img{
	width: 100%;
	height: 100%;
}
.shopList .img{
	margin-left: 20px;
	float: left;
	width: 82px;
	height: 82px;
	border: 1px solid #eeeeee;
}
.shopList .con{
	margin-left: 20px;
	float: left;
	width: 206px;
	height: 82px;
	}
.shopList .colors{
	margin-left: 20px;
	float: left;
	width: 141px;
	height: 80px;
}
.shopList .price{
	margin-left: 20px;
	float: left;
	width: 65px;
	height: 80px;
}
.shopList .num input{
	float: left;
	margin-left: 20px;
	width: 82px;
	height: 20px;
}
.shopList .num{
	margin-left: 20px;
	width: 82px;
	height: 20px;
	float:left;
}
.shopList .jiage{
	margin-left: 100px;
	width: 60px;
	height: 80px;
	float: left;
}
.shopList .move{
	margin-left: 20px;
	width: 100px;
	height: 80px;
	float: right;
}
#car_wrapper{
	height: 275px;
	background: #fff;
}
.com{
	height: 275px;
	width: 100%;
	background: #fff;
	margin-left: 92px;
}
.com li{
	margin-right: 26px;
	float: left;
	width: 238px;
	height: 275px;
	text-align: center;
	border: 1px solid #ccc;
}
.com .pri{
	color: #f40;
}
